<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- REQUIRED: The path to the python executable. -->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\chatBot" />
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="WSGI_LOG" value="C:\inetpub\wwwroot\chatBot\wfastcgi.log" />
    <!-- Environment Variables -->
    <add key="OPENAI_API_KEY" value="" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="&quot;C:\Program Files\Python312\python.exe&quot;|&quot;C:\Program Files\Python312\Lib\site-packages\wfastcgi.py&quot;" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>
